:root {
  --primary-color: #0d6efd; /* Blue */
  --secondary-color: #28A745; /* Green */
  --accent-color-light:#14967f; /* Light Blue/Cyan */
  --accent-color-dark:#14967f;/* Light Blue/Cyan */

  --background-color: #e2fcd6;
  --color: #095d7e;
  --background-color-light: #e2fcd6; /* light green */
  --background-color-dark:  #095d7e; 

  --text-color-light: #095d7e;
  --text-color-dark:#e2fcd6; 

  --primary-btn-light:#14967f;
  --primary-btn-dark:#ccecee;

  --secondary-btn-light: #095d7e;
  --secondary-btn-dark: #f1f9ff;


  --header-height: 60px;
  --header-padding: 0 20px;
  --header-background-color-light: #f1f9ff ;
  --header-background-color-dark: #095d7e ;

  
  --footer-background-color-light:#ccecee ;
  --footer-background-color-dark:  #14967f 
  ;

}

[data-theme='light'] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --accent-color: var(--accent-color-light)
  --header-background: var(--header-background-color-light)
  --primary-btn: var(--primary-btn-light)
  --secondary-btn: var(--secondary-btn-light)
  
}

[data-theme='dark'] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --accent-color: var(var(--accent-color-dark))
  --header-background: var(--header-background-color-dark)
  --primary-btn: var(--primary-btn-dark)
  --secondary-btn: var(--secondary-btn-dark)
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  height: var(--header-height);
  padding: var(--header-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background);
  color:var(--text-color);
  margin-left: auto;
}

.header a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 15px;
}

.header a:hover {
  color: var(--accent-color);
}

.theme-switch {
  cursor: pointer;
  font-size: 1.5rem;
} */




.home-carousel .carousel-caption {
  /* background-color: rgba(0, 0, 0, 0.5);
  padding: 20px; */
  border-radius: 5px;
}

.home-carousel .carousel-caption h3,
.home-carousel .carousel-caption p {
  color: #fff;
}

.home-carousel .carousel-caption button {
  margin-top: 10px;
}

.header-image{
  position: relative;
}
.header-image-appointment-container{
  position: absolute;
top: 224px;
left: 95px;

}